[user]
	name = Gor Davtyan
	email = gordavtyan918@gmail.com
[help]
	autocorrect = 1
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[commit]
  template = ~/.gitmessage